@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.topbar {
  background-color: #ededed;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between items */
  padding-left: 15vw; /* Add some padding to the left */
  padding-right: 15vw;
  font-family: 'Ubuntu', sans-serif;

}

.name-role {
  text-align: left; /* Align text to the left */
  color: #1f1f1f;
}

.name {
  font-size: 26px; /* Adjust the font size as needed */
  font-weight: bold;
}

.role {
  font-size: 20px; /* Adjust the font size as needed */
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.main{
  /*padding: 0% 0.5%;*/
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 60px;
  transition: margin-left .5s;
  font-family: 'Ubuntu', sans-serif;

  text-align: justify;
  text-justify: inter-word;

  color: #1f1f1f;
  background-color: #ededed;
}

.contents{
  color: #51446E;
  background-color: pink;
}

.sidenav .logo a{
  color: #533E85;
  font-size: 33px;
  font-width: 600;
  font-weight: bold;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0%;}
  .sidenav a {font-size: 0%;}
}


h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #1f1f1f;
}

.works-below{
  margin-left: 2.1%;
  margin-bottom: 1.5%;
  font-weight: bold;
  color: #ffffff;
}

.games{
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 24px;
  color: #000000;
}

.game .game-graphics{
  max-width: 100%;
  align-content: center;
  background-color: purple;
}
.screenshot{
  width: 60%;
  margin: 0 auto;
  display: block;
  background-color: black;
  text-align: center;
  }

.video{
}

video::-webkit-media-slider-thumb {
  display: none;
}
video::-webkit-media-slider-container{
  display: none;
}

video{
  width: 100%;
}

.game{
  border-bottom: 3px solid black; /* Add this line for the separator */
  padding-bottom: 20px; /* Add some padding for spacing */
  margin-bottom: 20px; /* Add some margin for spacing */
}

.game .game-info{
  max-width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: justify;
  text-justify: inter-word;
  color: #000000;
  background-color: orange;
}

.game .game-name{
  padding-left: 2%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-of-games{
  max-width: 100%;
}

.list-of-games .game{
  max-width: 100%;
  margin: auto;
  margin-bottom: 1%;
  font-size: 19px;

  background-color: green;
}

.external-links {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  height: 100%; /* Ensure the container takes the full height of the topbar */
}

.external-links .link {
  margin-left: 10px; /* Add some spacing between links */
  max-height: 100%; /* Ensure the links do not exceed the height of the topbar */
  padding-top: 8px;
  display: flex;
  align-items: center; /* Center the content vertically */
}

img.linkimg {
  max-height: 100%; /* Ensure the images do not exceed the height of the topbar */
  width: auto; /* Maintain aspect ratio */
}

img.linkimg:hover {
  filter: hue-rotate(250deg) saturate(60%); /* Remove filter on hover to show original color */
}

.navbar .dropbtn {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #446E4A;
  background-color: #babea9;
  border-radius: 5px;
  border: transparent;
  text-decoration: none;
  cursor: pointer;
  width: 200px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
  line-height: 30px; /* Center text vertically */
}

.navbar .dropbtn:hover {
  border-color: #91775A;
  background-color: #D9B186;
}

.navbar {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  margin-top: -3px;
  left: 0; /* Align dropdown with the button */
  min-width: 200px; /* Set the same width as the button */
  z-index: 1;
}

.dropdown a {
  display: block; /* Ensure each item is on a new line */
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  color: #446E4A;
  background-color: #babea9;
  text-decoration: none;
  text-align: center;
  width: 200px; /* Set a fixed width */
  border-bottom: black 2px solid; /* Add a border to separate items */
}

.dropdown a:hover {
  border-color: #91775A;
  background-color: #D9B186;
}

.navbar:hover .dropdown {
  display: block;
}

.resume-button .button {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 19px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #446E4A;
  background-color: #babea9;
  border-radius: 5px;
  text-decoration: none;
  width: 200px;
  height: 50px; /* Set a fixed height */
  line-height: 30px; /* Center text vertically */
}

.resume-button .button:hover {
  border-color: #91775A;
  background-color: #D9B186;
}

.welcome{
  display: inline-block;
  width: 70%;
}

.introduction{
  font-size: 18px;
  max-width: 100%;
  color: #191833;
}

.team-members{
  font-size: 17px;
  margin-top: 1%;
  max-width: 26%;
  text-align: justify;
  text-justify: inter-word;
  display: inline-block;
  vertical-align: top;
}

.my-contributions{
  max-width: 65%;
  width: 66%;
  margin-right: 3%;
  margin-top: 1%;
  text-align: justify;
  text-justify: inter-word;
  display: inline-block;
  vertical-align: top;
}

.contact-me {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background-color: #f2f2f2;
}

.contact-me h2 {
  margin-bottom: 10px;
}

.contact-me p {
  font-size: 18px;
}

a:link {
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.sidenav{
  height: 100%;
  width: 15vw;
  padding-top: 100px;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top*/
  left: 0;
  background-color: #4FD3C4;
  overflow-x: hidden; /* disable horizontal scroll*/
  overflow-y: scroll;
  /*padding-top: 1%;*/
  transition: 0.2s;
}

.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #533E85;
  display: block;
}

.sidenav a:hover {
  color: #488FB1;
}