@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.topbar{
  background-color: #4FD3C4;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top*/
  left: 0;
  background-color: #4FD3C4;
  overflow-x: hidden; /* disable horizontal scroll*/
  /*padding-top: 1%;*/
  transition: 0.2s;
  font-family: 'Ubuntu', sans-serif;
}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn{
  font-size: 20px;
  cursor: pointer;
  background-color: #4FD3C4;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #533E85;
}

.sidenav a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #533E85;
  display: block;
}

.sidenav a:hover {
  color: #488FB1;
}

#main {
  transition: margin-left .5s;
  /*padding: 16px;*/
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.main{
  /*padding: 0% 0.5%;*/
  /*padding-top: 1%;*/
  font-family: 'Nunito', sans-serif;

  text-align: justify;
  text-justify: inter-word;

  background-color: #C1F8CF;
}

.contents{
  margin-left: 1%;
}

.sidenav .logo a{
  color: #533E85;
  font-size: 33px;
  font-width: 600;
  font-weight: bold;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0%;}
  .sidenav a {font-size: 0%;}
}


h1, h2, h3 {
  font-weight: bold;
}

h1 {
  color: #488FB1;
}

h2 {
  color: #488FB1;
  font-size: 28px;
}

h3 {
  color: #533E85;
  font-size: 20px;
}

.works-below{
  margin-left: 2.1%;
  margin-bottom: 1.5%;
  font-weight: bold;
  color: #533E85;
}

.games{
  margin-top: 1%;
  margin-bottom: 1%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  font-size: 24px;
  color: #488FB1;
}

.game .game-graphics{
  max-width: 100%;
  margin-left: 2%;
  /*margin-right: 2%;*/
}
.screenshot{
  max-width: 32%;
  width: 100%;
  display: inline-block;
  }

.video{
}

video::-webkit-media-slider-thumb {
  display: none;
}
video::-webkit-media-slider-container{
  display: none;
}

video{
  width: 100%;
}

.game .game-info{
  max-width: 100%;
  margin-left: 2%;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: justify;
  text-justify: inter-word;
  color: #533E85;
}

.game .game-name{
  padding-left: 2%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-of-games{
  max-width: 100%;
  margin-left: 10px;
}

.list-of-games .game{
  max-width: 98%;
  margin: auto;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1%;

  background-color: #ddffe6;
  font-size: 19px;

  border: solid 11px #488FB1;
  border-radius: 5px;
  border-style: ridge;
}

.external-links{
  position: absolute;
  max-width: 30%;
  right: 1%;
  margin-right: 2%;
  margin-top: 0.5%;
  display: inline-block;
  horiz-align: right;
}

.link{
  display: inline-block;
  horiz-align: right;
  margin-left: 5px;
}

.welcome{
  display: inline-block;
  width: 70%;
  margin-left: 1.5%;
  margin-top: 0.4%;
  margin-bottom: 0.4%;
}

.introduction{
  font-size: 24px;
  margin-left: 1.5%;
  margin-right: 3%;
  margin-top: 0.1%;
  max-width: 100%;
  color: #533E85;
}

.team-members{
  font-size: 17px;
  margin-top: 1%;
  max-width: 26%;
  text-align: justify;
  text-justify: inter-word;
  display: inline-block;
  vertical-align: top;
}

.my-contributions{
  max-width: 65%;
  width: 66%;
  margin-right: 3%;
  margin-top: 1%;
  text-align: justify;
  text-justify: inter-word;
  display: inline-block;
  vertical-align: top;
}
